

.Main {
    position:static;
}

.tk {
    width: 100%;
    left:0%;
    position: relative;
    text-align: center;
    color: white;
}

/* .kt {
    height: 100vh;
    width: 28vw;
    display:inline-block;
} */

/* .photo {
    position: relative;
    text-align: center;
    color: white;
  } */

/* .text {
    color: #720505;
    text-shadow: 3px 3px 4px #550000;
    font-family: 'abiggail';
    font-Size: 120px;
    position: absolute;
    top: 80%;
    left:475px;
    transform: translate(-30%, -30%);
} */

.text1 {
    /* background-color: black; */
    width: 50%;
    color: rgb(233, 227, 214);
    text-shadow: 3px 3px 2px rgb(41, 40, 39);;
    font-family: 'drugs';
    font-size: 200%;
    letter-spacing: 6px;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%, -50%);
}

.info {
    /* left: 45%; */
    transform: translate(-40%, -40%);
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    display: inline;
    width: 100%;
    background-color: rgb(233, 227, 214);
}

.header{
    font-family: 'abiggail';
    font-size: 90px;
    text-shadow: 3px 3px 4px #550000;
}

@media (max-width: 1200px){
    .text1{
        top:75%;
    }
}
@media (max-width: 1100px){
    .text1{
        top:70%;
    }
}
@media (max-width: 1000px){
    .text1{
        top:60%;
    }
    .header{
        font-size: 85px;
    }
}
@media (max-width: 800px){
    .text1{
        top:55%;
    }
    .header{
        font-size: 80px;
    }
}
@media (max-width: 750px){
    .text1{
        top:50%;
        font-size: 175%;
    }
    .header{
        font-size: 75px;
    }
}
@media (max-width: 675px){
    .text1{
        top:50%;
        font-size: 150%;
    }
    .header{
        font-size: 70px;
    }
}
@media (max-width: 600px){
    .text1{
        /* font-size: 20px; */
        top:45%;
    }
    .header{
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    .text1{
        top: 40%;
    }
}