

.Main {
    position:static;
}

.tk {
    width: 100%;
    left:0%;
    position: relative;
    text-align: center;
    color: white;
}

/* .kt {
    height: 100vh;
    width: 28vw;
    display:inline-block;
} */

/* .photo {
    position: relative;
    text-align: center;
    color: white;
  } */

.text {
    color: #720505;
    text-shadow: 3px 3px 4px #550000;
    font-family: 'abiggail';
    font-Size: 120px;
    position: absolute;
    top: 80%;
    left:475px;
    transform: translate(-30%, -30%);
}

.text1 {
    color: rgb(233, 227, 214);
    text-shadow: 3px 3px 2px rgb(41, 40, 39);;
    font-family: 'drugs';
    font-size: 20px;
    letter-spacing: 6px;
    position: absolute;
    top: 90%;
    left:600px;
    transform: translate(-40%, -40%);
}

.info {
    /* left: 45%; */
    transform: translate(-40%, -40%);
    position: static;
    text-align: center;
    display: inline;
    width: 100%;
    background-color: rgb(233, 227, 214);
}

.header{
    font-family: 'abiggail';
    font-size: 90px;
    text-shadow: 3px 3px 4px #550000;
}

.bride{
    display: inline-block;
    position: relative;
    left: 25%;
}

.groom{
    display: inline-block;
    position: relative;
    left: 35%;
}

.moh{
    display: inline-block;
    position:relative;
    top: 400px;
    right: 25%;
}

.best-man{
    display: inline-block;
    position:relative;
    top: 400px;
    right: 35%;
}

.bm{
    display: inline-block;
    position:relative;
    top: 400px;
    left: 35%;
}

.gm{
    display: inline-block;
    position:relative;
    top: 400px;
    left: 35%;
}

.bm2{
    display: inline-block;
    position:relative;
    top: 800px;
}

.gm2{
    display: inline-block;
    position:relative;
    top: 800px;
}

.bm3{
    display: inline-block;
    position:relative;
    top: 1200px;
    right: 40%;
}

.gm3{
    display: inline-block;
    position:relative;
    top: 800px;
    left: 50%;
}

