.Header {
    background: #550000;
    padding: 8px 40px 8px 40px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.title {
    font-size: 55px;
    font-family: 'abiggail';
    color: rgb(233, 227, 214);
    text-shadow: 1px 1px rgba(0,0,0,0.7);
    text-decoration: none;
}

.un{
    font-size: 15px;
    color: rgb(233, 227, 214);
}

.pw{
    font-size: 15px;
    color: rgb(233, 227, 214);
}

.auth {
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

@media (max-width: 1100px){
    .title{
        font-size: 45px;
    }

    .auth{
        display: flex;
        position:relative;
    }
}

@media (max-width: 1000px){
    .title{
        font-size: 30px;
    }

    .auth{
        display: flex;
        position:relative;
    }
}