.Header {
    background: #550000;
    padding: 8px 40px 8px 40px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.title {
    font-size: 55px;
    font-family: 'abiggail';
    color: rgb(233, 227, 214);
    text-shadow: 1px 1px rgba(0,0,0,0.7);
}

.un{
    font-size: 15px;
    color: rgb(233, 227, 214);
}

.pw{
    font-size: 15px;
    color: rgb(233, 227, 214);
}

.auth {
    right: 50%;
}